@import './base.css';

#app,
html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
}

#app {
  display: flex;
}

main {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 2);
  margin: 10px auto;
}

@media (max-width: 768px) {
  main {
    width: 100%;
    padding: 0 10px;
  }
}

button {
  font-family: NerdFont;
  padding: 6px 12px;
  color: var(--color-accent-2);
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  box-sizing: border-box;
  min-height: 40px;
  font-size: 0.8rem;
  white-space: nowrap;
}

button:active {
  background-color: var(--color-dark);
  border: 1px solid transparent;
}
a {
  border-radius: var(--radius);
}
a:focus,
button:focus {
  outline: 2px solid var(--color-accent-2);
}

input {
  font-family: NerdFont;
  accent-color: var(--color-accent);
}
select {
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
  color: var(--color-accent-2);
  min-height: 40px;
  padding: 8px;
  border-radius: var(--radius);
}

input[type='text'],
input[type='number'] {
  border-radius: var(--radius);
  outline: none;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg);
  color: var(--color-text);
  min-height: 40px;
  padding: 10px;
}
input[type='number'] {
  -moz-appearance: textfield;
  color: var(--color-accent-2);
}

input[type='range'] {
  accent-color: var(--color-accent);
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  color: var(--color-accent);
}
a:visited {
  color: var(--color-bg);
}

::selection {
  background: var(--color-accent-light);
}

.accent-color-2 {
  color: var(--color-accent-2) !important;
}

.active-bg {
  background-color: var(--color-accent-light) !important;
}
.accent-clickable,
.red-clickable {
  transition: 0.15s all;
}

.accent-clickable:active,
.red-clickable:active {
  color: var(--color-dark) !important;
}

.accent-clickable:hover {
  color: var(--color-accent);
}

.red-clickable:hover {
  color: var(--color-red);
}

.icon {
  font-size: 3rem;
  margin: 0;
  box-sizing: content-box;
}

.gap {
  display: flex;
  align-items: center;
  gap: var(--gap);
}
