@import './base.css';

html,
body,
#app {
  margin: 0;
  background-color: var(--color-bg);
  margin: auto;
}
#app {
  width: 80vw;
}

@media (max-width: 768px) {
  #app {
    width: 100vw;
  }
}

/* Tablets (Portrait Mode) */
@media (min-width: 769px) and (max-width: 1024px) {
  #app {
    width: 100vw;
  }
}

button,
.button-red,
.button-accent {
  outline: none;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 6px;
  border-radius: 8px;
  transition: all 0.15s;
  cursor: pointer;
}
.button-red {
  background-color: var(--color-red);
  color: var(--color-text);
}
.button-accent {
  background-color: var(--color-accent);
  color: var(--color-bg-dark);
}

.button-red:active,
.button-accent:active,
button:active {
  background-color: var(--color-bg-dark);
  color: var(--color-text);
}

button:disabled {
  background-color: var(--color-bg-dark);
  color: var(--color-text-inactive);
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
h4 {
  font-size: 1.1rem;
  font-weight: 500;
}

.view {
  max-height: calc(100vh - 48px);
  overflow: scroll;
  padding: 10px 10px;
}
